@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color: #6366f1;
    --primary-color-invert: #ffffff;
    --primary-color-hover: rgb(79 70 229);
    --primary-color-border:rgb(226 232 240);
    --primary-color-border-hover:rgb(226 232 240);
    --primary-color-icon:rgb(138, 155, 177);

    --secondary-color: #ffffff;
    --secondary-color-invert: #475569;
    --secondary-color-hover: #ffffff;
    --secondary-color-border:rgb(226 232 240);
    --secondary-color-border-hover:rgb(226 232 240);

    --tw-border-opacity: 1
    /* or any other variables/style */
}

[data-theme='dark'] {
    --primary-color: #000;
}

[data-theme='dragon'] {
    --primary-color: #ffabc8;
}

/* body {
    background-color: var(--primary-color);
} */

app {
    background-color: #f1f5f9;
}

.h1 {
    @apply text-4xl font-extrabold tracking-tighter;
}

.h2 {
    @apply text-3xl font-extrabold tracking-tighter;
}

.h3 {
    @apply text-3xl font-extrabold;
}

.h4 {
    @apply text-2xl font-extrabold tracking-tight;
}

@screen md {
    .h1 {
        @apply text-5xl;
    }

    .h2 {
        @apply text-4xl;
    }
}

/* Button */
.btn,
.btn-sm,
.btn-xs {
    @apply font-normal text-sm inline-flex items-center justify-center border rounded-none leading-5 shadow-sm transition duration-150 ease-in-out;
}

.btn {
    @apply px-2.5 py-2 h-8;
}

.btn {
    background-color: var(--primary-color);
    border-radius: 2px;
}

.btn-primary {
    background-color: var(--primary-color);
    color: var(--primary-color-invert);
    border: var(--primary-color);
}
.btn-primary:hover{
    background-color:var(--primary-color-hover);   
    /* border: var(--primary-color-hover);  */
}

.btn-secondary{
    background-color: var(--secondary-color);
    color: var(--secondary-color-invert);
    border: 1px solid rgb(226 232 240);
}
.btn-secondary:hover{
    background-color:var(--secondary-color-hover);
    border: 1px solid rgb(203 213 225);
}


.btn-sm {
    @apply px-2 py-1;
}

.btn-xs {
    @apply px-2 py-0.5;
}

input
{
    font-size:54px;
}
/* input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance: none;
    outline: none
}

input:focus {
    outline: none !important;
} */